/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-red: hsl(14, 86%, 42%);
  --clr-green: hsl(159, 69%, 38%);

  --clr-rose-50: hsl(20, 50%, 98%);
  --clr-rose-100: hsl(13, 31%, 94%);
  --clr-rose-300: hsl(14, 25%, 72%);
  --clr-rose-400: hsl(7, 20%, 60%);
  --clr-rose-500: hsl(12, 20%, 44%);
  --clr-rose-900: hsl(14, 65%, 9%);
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */
body {
  background-color: var(--clr-rose-50);
  min-height: 100vh;

  font-family: 'Red Hat Text', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Typography */
.text1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0px;
}

.text2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: 0px;
}

.text3 {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.text4 {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.text4-bold {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
}
.text5 {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
}

.bold {
  font-weight: bold;
}

.rose50 {
  color: var(--clr-rose-50);
}

.rose100 {
  color: var(--clr-rose-100);
}

.rose300 {
  color: var(--clr-rose-300);
}

.rose400 {
  color: var(--clr-rose-400);
}

.rose500 {
  color: var(--clr-rose-500);
}

.rose900 {
  color: var(--clr-rose-900);
}

.red {
  color: var(--clr-red);
}

.green {
  color: var(--clr-green);
}

/* general styling */
ul {
  list-style: none;
  padding: 0;
}

.main-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  padding: 24px;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 24px;
}

.cart-container {
  background-color: #fff;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

/* Tablet */
@media (min-width: 768px) {
  .main-container {
    padding: 40px;
  }

  .list-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    row-gap: 24px;
    column-gap: 32px;
    max-width: 800px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .main-container {
    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 88px 40px;
    gap: 32px;
  }

  .cart-container {
    max-width: 384px;
    flex-grow: 1;
    height: fit-content;
  }
}
